<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.riderunner.flutter_app_test_image_picker">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
